.navbar {
    width: 100%;
    height: 80px;
    float: left;
}

    .navbar .navbar-logo {
        background-color: #00BFF3;
        border: 1px solid #00BFF3;
        border-bottom: none;
    }

    .navbar .navbar-content {
        background-color: #FFF;
        border-bottom: 1px solid #DFE8EC;
    }

@media (min-width: 1024px) {
    .navbar {
    }

        .navbar .navbar-logo {
            padding: 10px;
            width: 160px;
            float: left;
            height: 100%;
        }

        .navbar .navbar-content {
            padding: 10px;
            width: calc(100% - 160px);
            float: left;
            height: 100%;
        }
}
