<nav class="side-menu">
    <div class="menu-group">
        <div class="menu-item has-sub">
            <a href="#">
                <i class="menu-item-icon  mdi mdi-gauge"></i>
                <span class="menu-item-text">Dashboard</span>
            </a>
            <div class="menu-group">
                <div class="menu-item">
                    <a href="#">
                        <span class="menu-item-text"> Test</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#">
                        <span class="menu-item-text"> Test</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="menu-item has-sub">
            <a href="#">
                <i class="menu-item-icon mdi mdi-settings"></i>

                <span class="menu-item-text"> Settings</span>
            </a>
            <div class="menu-group">
                <div class="menu-item">
                    <a href="#">
                        <i class="menu-item-icon mdi mdi-power-socket"></i>
                        <span class="menu-item-text">
                            <a href="/Admin/Plugin">
                                Plugins
                            </a>
                        </span>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#">
                        <span class="menu-item-text"> Test</span>
                    </a>
                </div>
                <div class="menu-item">
                    <a href="#">
                        <span class="menu-item-text"> Test</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="menu-item">
            <a href="#">
                <i class="menu-item-icon mdi  mdi-book-multiple-variant"></i>
                <span class="menu-item-text">Pages</span>
            </a>
        </div>
    </div>
</nav>