@model ModCore.ViewModels.Theme.vThemeList

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div id="ThemeList">
    @{ Html.RenderPartial("_ThemeList.cshtml", Model.ThemeList); }
</div>