@using ModCore.Core.HtmlHelperExtensions

@{ 
    Layout = Html.DefaultLayout();
}

@model ModCore.ViewModels.Access.vForgotPassword

<div class="panel panel-default">
    <div class="panel-title">
        Register
    </div>
    <div class="panel-body">
        <form action="/ForgotPassword" method="post" class="form-horizontal">
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label class="col-sm-3 control-label">Email Address</label>
                <div class="col-sm-9">
                    @Html.TextBoxFor(a => a.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Send Reset Password Link</button>
                </div>
            </div>

        </form>
    </div>
</div>