@model ModCore.ViewModels.Core.vSettings
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutWithMenu.cshtml";
    var regions = Model.Settings.GroupBy(a => a.RegionName).Select(a => a.Key).OrderBy(a => a).ToList();
    ViewBag.Title = "Site Settings";
}


<form class="form-horizontal" id="frmSiteSettings">
    @foreach (var region in regions)
    {
        <div class="panel panel-default">
            <div class="panel-title">
                @region
            </div>
            <div class="panel-body">
                @foreach (var setting in Model.Settings.Where(a => a.RegionName == region).OrderBy(a => a.Key))
                {
                    <div class="form-group form-group-lg">
                        <label class="col-sm-3 control-label" for="@(region + "_" + setting.Key)">@setting.Key</label>
                        <div class="col-sm-9">
                            @await Html.PartialAsync("_settingEditor", setting)
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</form>

<button class="btn btn-success" id="btnSaveChanges">
    Save Changes
</button>


@section scripts{
    <script>
        $("#btnSaveChanges").click(function (e) {
            e.preventDefault();
            var form = $("#frmSiteSettings").serialize();
            $.ajax({
                type: "POST",
                url: "/Admin/SiteSettings/SaveChanges",
                data: form,
                dataType: "json",
                success: function (response) {
                    alert("Completed");
                }
            });
        });
    </script>
}